{% extends 'order/base.html' %}

{% block style %}
    <style>

    .table_div{
        border:solid purple; border-width:1px 0px 0px 1px; overflow: hidden;
    }
    .td_div{
        border:solid purple;
        border-width:0px 1px 1px 0px;
        padding:5px 5px;
        margin-left:0px;
        float:left;
        height:30px;
        display:inline;
        overflow:hidden;
    }
    </style>

{% endblock %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title" style="display: inline-block;">Order List</h4>
                            <li class="active" style="display: inline-block; float:right; margin-right: 20px">
                                <a id="advanced_filter_collapse_btn">
                                    <i class="material-icons">zoom_in</i>
                                    高级筛选
                                    <div class="ripple-container"></div></a>
                                <a href="/order_add">
                                    <i class="material-icons">note_add</i>
                                    添加
                                    <div class="ripple-container"></div></a>
                            </li>
                        </div>
                        <div class="card-content">
                            <div style="align:right; width:100%;">单号：</div>
                            <div class="table_div">

                                <div class="td_div" style="width:10%; display:inline">托运日期</div>
                                <div class="td_div" style="width:40%; display:inline">{{ create_time }}</div>
                                <div class="td_div" style="width:10%; display:inline">运行区间</div>
                                <div class="td_div" style="width:40%; display:inline">{{ dep_city }} -> {{ des_city }}</div>
                                <div class="td_div" style="width:10%; display:inline">托运人</div>
                                <div class="td_div" style="width:40%; display:inline">{{ client_name }}</div>
                                <div class="td_div" style="width:10%; display:inline">联系方式</div>
                                <div class="td_div" style="width:40%; display:inline">{{ client_tel }}</div>
                                <div class="td_div" style="width:10%; display:inline">收货人</div>
                                <div class="td_div" style="width:40%; display:inline">{{ rec_name }}</div>
                                <div class="td_div" style="width:10%; display:inline">联系方式</div>
                                <div class="td_div" style="width:40%; display:inline">{{ rec_tel }}</div>

                                <div class="td_div" style="width:10%; display:inline">起运地址</div>
                                <div class="td_div" style="width:90%; display:inline">{{ dep_place }}</div>
                                <div class="td_div" style="width:10%; display:inline">目的地址</div>
                                <div class="td_div" style="width:90%; display:inline">{{ des_place }}</div>
                                <div class="td_div" style="width:10%; display:inline">货物名称</div>
                                <div class="td_div" style="width:30%; display:inline">{{ cargo_name }}</div>
                                <div class="td_div" style="width:10%; display:inline">货物重量</div>
                                <div class="td_div" style="width:20%; display:inline">{{ cargo_weight }}</div>
                                <div class="td_div" style="width:10%; display:inline">货物数量</div>
                                <div class="td_div" style="width:20%; display:inline">{{ cargo_quantity }}</div>
                                <div class="td_div" style="width:10%; display:inline">备注</div>
                                <div class="td_div" style="width:90%; display:inline">{{ note }}</div>
                                <div class="td_div" style="width:100%; display:inline">
                                    <a id="add_log_info"><i class="material-icons">zoom_in</i>添加</a>
                                </div>
                                <div class="td_div" style="width:10%; display:inline">状态</div>
                                <div class="td_div" style="width:25%; display:inline">时间</div>
                                <div class="td_div" style="width:55%; display:inline">描述</div>
                                <div class="td_div" style="width:10%; display:inline">操作</div>
                                <div id = "log_info">


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block jscode %}
    <script>


        $(function(){
            $("#add_log_info").click(function(){
                $("#log_info").append('<div class="td_div" style="width:10%"><span class="edit_status"></span></div>' +
                                      '<div class="td_div" style="width:25%">'+ (new Date().Format("yyyy-MM-dd hh:mm:ss"))+'</div>' +
                                      '<div class="td_div" style="width:55%"><span class="edit_desc"></span></div>' +
                                      '<div class="td_div" style="width:10%">' +
                                      '<a href="#" class="log_confirm_btn" data-id={{ id }}><span class="glyphicon glyphicon-ok"></span></a>'+
                                      '<a href="#" class="log_cancle_btn"><span class="glyphicon glyphicon-remove"></span></a>'+
                                      '</div>');
                $(".edit_status").editable({
                    type: "select",
                    placement: "right",
                    emptytext: "---",
                    source: [{ value: "提货", text: "提货" }, { value: "出发", text: "出发" }, {value:"途径",text:"途径"}
                    , {value:"到达",text:"到达"}, {value:"签收",text:"签收"}, {value:"异常",text:"异常"}],
                });
                $(".edit_desc").editable({
                    emptytext: "---",
                });
            });
            $('body').on('click', '.log_confirm_btn', function(){
                var id     = $(this).data('id');
                var status = $(this).parent().prev().prev().prev().children().html();
                var time   = $(this).parent().prev().prev().html();
                var desc   = $(this).parent().prev().children().html();
                alert([desc, status, time, id]);
                $.ajax({
                    type: "POST",
                    url: "{% url 'ope_add_trace' %}",
                    data: {id:id, status:status, time:time, desc:desc},
                    datatype: "html",
                    success: function (data) {

                        toastr.success(data.info);

                    },
                });
            });

            $.ajax({
                    type: "POST",
                    url: "{% url 'get_trace_data' %}",
                    data: {id:"{{ id }}"},
                    datatype: "html",
                    success: function (data) {
                        console.log(data);
                        var rows = data.rows;
                        for (index in rows){
                            console.log(rows[index]);
                            $("#log_info").append('<div class="td_div" style="width:10%">'+ rows[index].status +'</div>' +
                                                  '<div class="td_div" style="width:25%">'+ rows[index].time +'</div>' +
                                                  '<div class="td_div" style="width:55%">'+ rows[index].desc +'</div>' +
                                                  '<div class="td_div" style="width:10%">' +
                                                  '</div>');
                            $(".edit_status").editable({
                                type: "select",
                                placement: "right",
                                emptytext: "---",
                                source: [{ value: "提货", text: "提货" }, { value: "出发", text: "出发" }, {value:"途径",text:"途径"}
                                , {value:"到达",text:"到达"}, {value:"签收",text:"签收"}, {value:"异常",text:"异常"}],
                            });
                            $(".edit_desc").editable({
                                emptytext: "---",
                            });
                        }

                    },
                });

        });
    </script>
{% endblock %}