{% extends 'order/base.html' %}

{% block style %}
    <style>

    .table_div{
        border:solid purple; border-width:1px 0px 0px 1px; overflow: hidden;
    }
    .td_div{
        border:solid purple;
        border-width:0px 1px 1px 0px;
        padding:5px 5px;
        margin-left:0px;
        float:left;
        height:30px;
        overflow:hidden;
    }
    </style>

{% endblock %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="purple" style="overflow: hidden">
                            <h3 class="title" style="display: inline-block;float:left">{{ No }}</h3>
                            <h4 class="title" style="display: inline-block;float:right;border:2px solid;border-radius:5px;" id = "order_status"></h4>
                        </div>
                        <div class="card-content">
                            <div style = "overflow:hidden;">
                                <div style="width:30%; display:inline">状态：<span id = ""></span></div>
                            </div>

                            <div class="table_div">

                                <div class="td_div" style="width:10%">托运日期</div>
                                <div class="td_div" style="width:40%">{{ create_time }}</div>
                                <div class="td_div" style="width:10%">运行区间</div>
                                <div class="td_div" style="width:40%">{{ dep_city }} -> {{ des_city }}</div>
                                <div class="td_div" style="width:10%">托运人</div>
                                <div class="td_div" style="width:40%">{{ client_name }}</div>
                                <div class="td_div" style="width:10%">联系方式</div>
                                <div class="td_div" style="width:40%">{{ client_tel }}</div>
                                <div class="td_div" style="width:10%">收货人</div>
                                <div class="td_div" style="width:40%">{{ rec_name }}</div>
                                <div class="td_div" style="width:10%">联系方式</div>
                                <div class="td_div" style="width:40%">{{ rec_tel }}</div>

                                <div class="td_div" style="width:10%">起运地址</div>
                                <div class="td_div" style="width:90%">{{ dep_place }}</div>
                                <div class="td_div" style="width:10%">目的地址</div>
                                <div class="td_div" style="width:90%">{{ des_place }}</div>
                                <div class="td_div" style="width:10%">货物名称</div>
                                <div class="td_div" style="width:30%">{{ cargo_name }}</div>
                                <div class="td_div" style="width:10%">货物重量</div>
                                <div class="td_div" style="width:20%">{{ cargo_weight }}</div>
                                <div class="td_div" style="width:10%">货物数量</div>
                                <div class="td_div" style="width:20%">{{ cargo_quantity }}</div>
                                <div class="td_div" style="width:10%">备注</div>
                                <div class="td_div" style="width:90%">{{ note }}</div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="purple">
                            <a href="/price_management?No={{ No }}"><i class="material-icons">add_circle_outline</i></a>
                        </div>
                        <div class="card-content">
                            <p class="category">总收入</p>
                            <h3 class="title" id = "receiveables_total">￥0.00</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <table class="table table-hover" style="table-layout: fixed;">
                                    <thead class="text-warning">
                                    <th style="width:20%">序号</th>
                                    <th style="width:50%">描述</th>
                                    <th style="width:30%">价格</th>
                                    </thead>
                                    <tbody id="receiveables_table_data">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="purple">
                            <a href="/price_management?No={{ No }}"><i class="material-icons" >remove_circle_outline</i></a>
                        </div>
                        <div class="card-content">
                            <p class="category">总成本</p>
                            <h3 class="title" id="payables_total">￥0.00</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <table class="table table-hover" style="table-layout: fixed;">
                                    <thead class="text-warning">
                                        <th style="width:20%">序号</th>
                                        <th style="width:30%">供应商</th>
                                        <th style="width:30%">描述</th>
                                        <th style="width:20%">价格</th>
                                    </thead>
                                    <tbody id="payables_table_data">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title" style="display: inline-block;">物流跟踪</h4>
                        </div>
                        <div class = "card-content">
                            <table class="table table-hover" style="table-layout: fixed;">
                                <thead class="text-warning">
                                    <th style="width:8%">序号</th>
                                    <th style="width:20%">状态</th>
                                    <th style="width:25%">更新时间</th>
                                    <th style="width:15%">更新人员</th>
                                    <th style="width:30%">描述</th>
                                    <th style="width:10%">操作</th>
                                </thead>
                                <tbody id="log_table_data">
                                <tr>
                                    <td></td>
                                    <td><select id="log_status_select" style="width: 80%"></select></td>
                                    <td></td>
                                    <td></td>
                                    <td><input id="log_desc_input" style="width: 80%"></input></td>
                                    <td><a id="add_log_info" ><span class='glyphicon glyphicon-plus'></span></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block jscode %}
    <script>


        $(function(){
            var log_trace_index = 1;
            show_status("{{ status }}");    //加载页面的时候填入状态

            //状态选择初始化
            $("#log_status_select").select2({
                data: [{ id: "提货", text: "提货" }, { id: "出发", text: "出发" }, {id:"途径",text:"途径"}
                    , {id:"到达",text:"到达"}, {id:"签收",text:"签收"}, {id:"异常",text:"异常"}],
                allowClear: true,
                placeholder: "请选择",
            });
            $("#log_status_select").val(null).trigger('change');
            $("#add_log_info").click(function(){
                var order_id     = "{{ id }}";
                var status = $("#log_status_select").val();
                var time   = (new Date().Format("yyyy-MM-dd hh:mm:ss"));
                var desc   = $("#log_desc_input").val();
                var update_user = "{{ user.username }}";
                console.log([order_id, status, time, desc, "{{ user.username }}"]);
                if(status==null){
                    toastr.error("物流信息状态不能为空");
                    return;
                }
                if(desc==""){
                    toastr.error("物流信息描述不能为空");
                    return;
                }
                $("#log_status_select").val(null).trigger('change');
                $("#log_desc_input").val('');
                $.ajax({
                    type: "POST",
                    url: "{% url 'ope_add_trace' %}",
                    data: {order_id:order_id, status:status, create_time:time, desc:desc},
                    datatype: "html",
                    success: function (data) {
                        if(data.if_success == 1){
                            toastr.success(data.info);
                            show_status(data.order_status);
                            $("#log_table_data").append('<tr><td>'+(log_trace_index++)+'</td><td>'+ status +'</td>' +
                                                  '<td>'+ time +'</td>' +
                                                  '<td>'+ update_user +'</td>' +
                                                  '<td><span title="'+desc+'">'+ desc +'</span></td>' +
                                                  '<td>' +
                                                  '<a href="#" class="log_edit_btn" data-trace_id="'+data.trace_id+'"><span class="glyphicon glyphicon-edit"></span></a>'+
                                                  '</td></tr>');
                        }
                        else{
                            toastr.error(data.info);
                        }


                    },
                });
            });


            $('body').on('click', '.log_edit_btn', function(){
                var trace_id     = $(this).data('trace_id');
                var $this = $(this).parent().prev().children();
                console.log($this);
                $this.editable({
                    emptytext: "---",
                    success: function (response, newValue) {
                        $.ajax({
                            type: "POST",
                            url: "{% url 'ope_edit_trace' %}",
                            data: {trace_id:trace_id, desc:newValue},
                            datatype: "html",
                            success: function (data) {
                                toastr.success("修改成功")
                                $this.editable("destroy");
                            },
                        });
                    }
                });

            });

            $.ajax({
                    type: "POST",
                    url: "{% url 'get_trace_data' %}",
                    data: {id:"{{ id }}"},
                    datatype: "html",
                    success: function (data) {
                        console.log(data);
                        var rows = data.rows;
                        for (index in rows){
                            $("#log_table_data").append('<tr><td>'+(parseInt(index)+1)+'</td><td>'+ rows[index].status +'</td>' +
                                                  '<td>'+ rows[index].create_time +'</td>' +
                                                  '<td>'+ rows[index].create_user +'</td>' +
                                                  '<td><span title="'+rows[index].desc+'">'+ rows[index].desc +'</span></td>' +
                                                  '<td>' +
                                                  '<a href="#" class="log_edit_btn" data-trace_id="'+rows[index].trace_id+'"><span class="glyphicon glyphicon-edit"></span></a>'+
                                                  '</td></tr>');
                        }

                    },
            });

            //从view参数里加载状态到模板里
            function show_status(status){
                status = parseInt(status);
                var str = "";
                if(status==1)
                    str = "未发货";
                else if(status==2)
                    str = "已提货";
                else if(status==3)
                    str = "在途中";
                else if(status==4)
                    str = "已签收";
                else if(status==5)
                    str = "已出票";
                else if(status==6)
                    str = "已收款";
                else
                    return;
                $("#order_status").html(str);
            }


            //加载应收以及应付的列表
            $.ajax({
                type: "POST",
                url: "{% url 'get_receiveables' %}",
                data: {order_id:"{{ id }}"},
                datatype: "html",
                success: function (data) {
                    if(data.rows!=undefined){
                        var tot = 0.00;
                        for(var i = 0; i<data.rows.length; i++) {
                            tot += parseFloat(data.rows[i].receiveables);
                            $("#receiveables_table_data").append("<tr><td>" + (i + 1) + "</td>" +
                                "<td title='"+data.rows[i].description+"'>"+data.rows[i].description+"</td>" +
                                "<td>￥"+data.rows[i].receiveables+"</td>" +
                                "</tr>");
                        }
                        $("#receiveables_total").html("￥"+tot.toFixed(2));
                    }
                },
            })

            $.ajax({
                type: "POST",
                url: "{% url 'get_payables' %}",
                data: {order_id:"{{ id }}"},
                datatype: "html",
                success: function (data) {
                    if(data.rows!=undefined){
                        var tot = 0.00;
                        for(var i = 0; i<data.rows.length; i++) {
                            tot += parseFloat(data.rows[i].payables);
                            $("#payables_table_data").append("<tr><td>" + (i + 1) + "</td>" +
                                "<td title='"+data.rows[i].supplier_name+"'>"+data.rows[i].supplier_name+"</td>" +
                                "<td title='"+data.rows[i].description+"'>"+data.rows[i].step_name+":"+data.rows[i].description+"</td>" +
                                "<td>￥"+data.rows[i].payables+"</td>" +
                                "</tr>");
                        }
                        $("#payables_total").html("￥"+tot.toFixed(2));
                    }
                },
            })

        });
    </script>
{% endblock %}