{% extends 'order/base.html' %}

{% block style %}
    <style>
    .modal-body .table>thead>tr>th{
        font-size: 20px;
    }
    .modal-body .table>tbody>tr>td{
        font-size: 20px;
    }
    .card-content .form-group{
        margin: 0px 0 0 0;
        padding-bottom: 10px;
    }
    </style>

{% endblock %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title" style="display: inline-block;">Order List</h4>
                            <li class="active" style="display: inline-block; float:right; margin-right: 20px">
                                <a id="advanced_filter_collapse_btn" title = "高级筛选">
                                    <i class="material-icons">zoom_in</i>
                                    <div class="ripple-container"></div></a>
                                <a href="/order_add" title = "添加">
                                    <i class="material-icons">add</i>
                                    <div class="ripple-container"></div></a>
                            </li>
                        </div>
                        <div class="card-content table-responsive">

                            <div class="row collapse">
                                <div class = "row">
                                    <div class="col-md-4 col-lg-3">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">search</i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="按单号进行搜索" id="filter_No">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-3" hidden>
                                        <div class="input-group" title="下单开始日期">
                                            <span class="input-group-addon">
                                                <i class="material-icons">date_range</i>
                                            </span>
                                            <input class="datepicker form-control" type="text" placeholder="下单开始日期" id="filter_start_time">
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-lg-3" hidden>
                                        <div class="input-group" title="下单结束日期">
                                            <span class="input-group-addon">
                                                <i class="material-icons">arrow_forward</i>
                                            </span>
                                            <input class="datepicker form-control" type="text" placeholder="下单结束日期" id="filter_end_time">
                                        </div>
                                    </div>

                                </div>
                                <div class = "row">
                                    <div class="col-md-4 col-lg-3">
                                        <div class="input-group" title="提货开始日期">
                                            <span class="input-group-addon">
                                                <i class="material-icons">date_range</i>
                                            </span>
                                            <input class="datepicker form-control" type="text" placeholder="提货开始日期" id="filter_pick_start_time">
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-lg-3">
                                        <div class="input-group" title="提货结束日期">
                                            <span class="input-group-addon">
                                                <i class="material-icons">arrow_forward</i>
                                            </span>
                                            <input class="datepicker form-control" type="text" placeholder="提货结束日期" id="filter_pick_end_time">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-3">
                                        <div class="input-group" title="送货开始日期">
                                            <span class="input-group-addon">
                                                <i class="material-icons">date_range</i>
                                            </span>
                                            <input class="datepicker form-control" type="text" placeholder="送货开始日期" id="filter_delivery_start_time">
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-lg-3">
                                        <div class="input-group" title="送货结束日期">
                                            <span class="input-group-addon">
                                                <i class="material-icons">arrow_forward</i>
                                            </span>
                                            <input class="datepicker form-control" type="text" placeholder="送货结束日期" id="filter_delivery_end_time">
                                        </div>
                                    </div>

                                </div>
                                <div class = "row">
                                    <div class="col-md-4 col-lg-3">
                                        <div class="input-group" title="按客户进行搜索">
                                            <span class="input-group-addon">
                                                <i class="material-icons">person</i>
                                            </span>
                                            <select id="filter_client" class="form-control" style="width: 170px"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-3">
                                        <div class="input-group" title="按供应商进行搜索">
                                            <span class="input-group-addon">
                                                <i class="material-icons">person</i>
                                            </span>
                                            <select id="filter_supplier" class="form-control" style="width: 170px"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-3">
                                        <div class="input-group" title="按付款状态搜索">
                                            <span class="input-group-addon">
                                                <i class="material-icons">check_box</i>
                                            </span>
                                            <select id="filter_pay_status" class="form-control" style="width: 170px"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class = "row">

                                    <div class="col-sm-12">
                                        <div class="input-group" title="按订单状态进行搜索">
                                            <span class="input-group-addon">
                                                <i class="material-icons">storage</i>
                                            </span>
                                            <select id="filter_status" class="" style="width: 500px" multiple="multiple"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class = "row">
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">place</i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="按起运地进行搜索" id="filter_dep_city">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">place</i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="按目的地进行搜索" id="filter_des_city">
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-primary btn-xs" id="submit_button" style="float:left;margin-left: 20px;">Search</button>

                            </div>
                            <table id="tablecase" style=" table-layout: fixed;" class = "bt_table"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block jscode %}
<script>
    $.ajaxSetup({headers: {"X-CSRFToken": '{{ csrf_token }}'}});
    $(function(){
        //筛选多选项下拉框初始化
        $("#filter_client").select2({
            placeholder: "按客户进行筛选",
            allowClear: true,
            ajax: {
                url: "{% url 'get_client_options' %}",
                dataType: 'json',
                data: function (params) {
                    return {
                        q: params.term,
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.data
                    };
                },
                cache: true
            },
            minimumInputLength: 0,
        });
        $("#filter_supplier").select2({
            placeholder: "按供应商进行筛选",
            allowClear: true,
            ajax: {
                url: "{% url 'get_supplier_options' %}",
                dataType: 'json',
                data: function (params) {
                    return {
                        q: params.term,
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.data
                    };
                },
                cache: true
            },
            minimumInputLength: 0,
        });
        var $filter_pay_status =$("#filter_pay_status");
        $filter_pay_status.select2({
            minimumResultsForSearch: Infinity,
            allowClear: true,
            placeholder: "按付款状态搜索",
            data: [{ id: 0,  text: "未付款"},
                   { id: 1,  text: "已付款"}],
        });
        $filter_pay_status.val(null).trigger("change");
        $("#filter_status").select2({
            placeholder: "按订单状态进行筛选",
            allowClear: true,
            data: [{ id: 1,  text: "未发货"},
                   { id: 2,  text: "已提货"},
                   { id: 3,  text: "在途中"},
                   { id: 4,  text: "已签收"},
                   { id: 5,  text: "已出票"},
                   { id: 6,  text: "已完成"}],
        });
        //时间选择器初始化
        $('.datepicker').datepicker({
            weekStart:1, //1代表从一周周一开始，0代表从周天开始
            autoclose:true,
            clearBtn:true,
            zIndexOffset: 10000,
        });

        $('#submit_button').click(function(){
            toastr.success('刷新成功');
            $('#tablecase').bootstrapTable('refresh');

        });
    });

    $('#tablecase').bootstrapTable({
        url: "{% url 'order_index' %}",    //请求数据的地址
        method: 'post',
        showColumns: true,
        //是否显示行间隔色
        striped: true,
        //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
        cache: false,
        //是否显示分页（*）
        pagination: true,
        //是否启用排序
        sortable: false,
        //排序方式
        sortOrder: "desc",
        pageNumber:1,
        //每页的记录行数（*）
        pageSize: 10,
        //可供选择的每页的行数（*）
        pageList: [10, 25, 50, 100],
        //分页方式：client客户端分页，server服务端分页（*）
        sidePagination: "server",
        queryParams: function(params){
            params.filter_end_time = $("#filter_end_time").val();
            params.filter_start_time = $("#filter_start_time").val();

            params.filter_pick_start_time    = $("#filter_pick_start_time").val();
            params.filter_pick_end_time      = $("#filter_pick_end_time").val();
            params.filter_delivery_start_time = $("#filter_delivery_start_time").val();
            params.filter_delivery_end_time   = $("#filter_delivery_end_time").val();

            params.filter_client     = $("#filter_client").val();
            if(params.filter_client === null)
                params.filter_client     = "";

            params.filter_supplier   = $("#filter_supplier").val();
            if(params.filter_supplier===null)
                params.filter_supplier   = "";


            if($("#filter_status").val()!=null)
                params.filter_status     = JSON.stringify($("#filter_status").val());
            else
                params.filter_status     = JSON.stringify([]);

            params.filter_pay_status = $("#filter_pay_status").val();
            if(params.filter_pay_status===null)
                params.filter_pay_status = "";

            params.filter_No             = $("#filter_No").val();
            params.filter_dep_city       = $("#filter_dep_city").val();
            params.filter_des_city       = $("#filter_des_city").val();
            //console.log(params);
            return params;
        },
        contentType: 'application/json',
        resizable: true,
        //Indicate which field is an identity field.
        idField : "id",

            columns: [{
                field: 'No',
                title: '编号',
                align: 'center',
                width: 100,
                formatter: function(index, row){
                    return '<a href="/order_detail?No='+row.No+'"+ target="_blank">'+row.No+'</a>';
                }
            }, {
                field: 'status',
                title: '状态',
                align: 'center',
                width: 80,
                formatter: function(index, row){
                    return order_status_switch(row.status);
                }
            }, {
                field: 'client_name',
                title: '客户名称',
                align: 'center',
                width: 100,
                formatter: function(index, row){
                    if(row.client_id != 0)
                        return '<a href="#" class = "client_detail" data-client_id = "'+row.client_id+'" rel="tooltip" title="'+row.client_name+'">'+row.client_name+'</a>';
                    else
                        return row.client_name;
                }
            }, {
                field: 'create_time',
                title: '下单时间',
                align: 'center',
                halign:'center',
                width: 100,
           },  {
                field: 'pick_up_time',
                title: '提货日期',
                align: 'center',
                halign:'center',
                width: 100,
           },  {
                field: 'delivery_time',
                title: '送货日期',
                align: 'center',
                halign:'center',
                width: 100,
           },  {
                field: 'recv',
                title: '应收款',
                align: 'right',
                halign:'center',
                width: 80,
           },  {
                field: 'paya',
                title: '应付款',
                align: 'right',
                halign:'center',
                width: 80,
           },  {
                field: 'cargo_name',
                title: '货物名称',
                align: 'center',
                halign:'center',
                width: 80,
                formatter: function(index, row){
                    return '<span rel="tooltip" title="'+row.cargo_name+'">'+row.cargo_name+'</span>';
                }
           },  {
                field: 'cargo_weight',
                title: '货物重量(KG)',
                align: 'right',
                halign:'center',
                width: 110,
            },  {
                field: 'cargo_quantity',
                title: '货物数量',
                align: 'right',
                halign:'center',
                width: 80,
            },  {
                field: 'cargo_size',
                title: '货物体积(方)',
                align: 'right',
                halign:'center',
                width: 110,
            },  {
                field: 'dep_city',
                title: '起运城市',
                align: 'center',
                halign:'center',
                width: 90,
            },  {
                field: 'des_city',
                title: '目的城市',
                align: 'center',
                halign:'center',
                width: 90,
            }, {
                field: 'rec_name',
                title: '收件人姓名',
                align: 'center',
                halign:'center',
                width: 90,
            }, {
                field: 'rec_tel',
                title: '收件人电话',
                align: 'center',
                halign:'center',
                width: 90,
            }, {
                field: 'dep_place',
                title: '起运详细地址',
                align: 'left',
                halign:'center',
                width: 120,
                formatter: function(index, row){
                    return '<span rel="tooltip" title="'+row.dep_place+'">'+row.dep_place+'</span>';
                }
            },  {
                field: 'des_place',
                title: '目的详细地址',
                align: 'left',
                halign:'center',
                width: 120,
                formatter: function(index, row){
                    return '<span rel="tooltip" title="'+row.des_place+'">'+row.des_place+'</span>';
                }
            },  {
                field: 'if_close',
                title: '关账',
                align: 'center',
                halign:'center',
                width: 50,
                formatter: function(index, row){
                    if(row.if_close ===1)
                        return "已关";
                    else
                        return "未关";
                }
            },  {
                field: 'remark',
                title: '备注',
                align: 'center',
                halign:'center',
                width: 50,
                formatter: function(index, row){
                    if(row.remark  !== "")
                        return '<a rel="tooltip" title="<p align=\'left\'>'+row.remark+'</p>" data-html="true" ><i class="fa fa-comment"></i></a>';
                    else
                        return "";
                },
            }, {
                title: '操作',
                formatter: function(index, row){
                    //console.log(row);
                    return '<a data-no="'+row.No+'" href = "/order_edit?No='+row.No+'" title="编辑"><i class="fa fa-pencil"></i></a>' +
                           '<a data-no="'+row.No+'" class = "delete_order_button" title="删除" style="margin-left: 10px;"><i class="fa fa-trash"></i></a>' +
                           '<a data-no="'+row.No+'" data-create_time="'+row.create_time+'" class = "delete_change_date_button" title="修改下单时间" style="margin-left: 10px;"><i class="fa fa-calendar"></i></a>' +
                           '<a data-no="'+row.No+'" data-if_close="'+row.if_close+'" class = "trigger_close_order_button" title="订单结账/反结账" style="margin-left: 10px;"><i class="fa fa-ban"></i></a>';
                },
                align: 'center',
                width: 100,
            },{
                title: '-',
            }],
        onPostBody: function(){
            //更新浮动title标签
            $('[rel="tooltip"]').tooltip();
        },
    });
    $("#advanced_filter_collapse_btn").click(function(){
        $('.collapse').collapse("toggle");
    });

    var $body = $('body');
    $body.on("click",".client_detail", function(){
        var client_id = $(this).data('client_id');
        console.log(client_id);
        $.ajax({
            type: "POST",
            url: "{% url 'get_client_details' %}",
            data: {client_id:client_id},
            datatype: "html",
            success: function (data) {
                //console.log(data);
                var content = "";
                content += "<table class='table table-hover'><thead class='text-warning'><th>名称</th><th>内容</th></thead><tbody>";
                if (data.type === "0"){ //公司客户
                    content += "<tr><td>编号</td><td>"+data.No+"</td></tr>"+
                        "<tr><td>公司名称</td><td>"+data.co_name+"</td></tr>"+
                        "<tr><td>公司电话</td><td>"+data.co_tel+"</td></tr>";
                }else{
                    content += "<tr><td>编号</td><td>"+data.No+"</td></tr>"+
                        "<tr><td>姓名</td><td>"+data.contact_name+"</td></tr>"+
                        "<tr><td>电话</td><td>"+data.contact_tel+"</td></tr>"+
                        "<tr><td>职位</td><td>"+data.contact_role+"</td></tr>";
                }
                content += "</tbody></table>";
                //console.log(content);
                myShowTableInfo("客户信息", content);
            },
            error: function(){
                toastr.error("网络错误，请稍后再试");
            },
        })
    });

    $body.on('click', '.delete_order_button', function(){
        var No = $(this).data('no');
        myConfirm("是否确定删除订单： "+No+"？<br>注：<br>此操作需清空应收以及应付款信息并将删除订单所有相关物流信息，并且<strong>无法撤回</strong>",function(){
//            alert("deleteIng"+No);
            $.ajax({
                type: "POST",
                url: "{% url 'ope_drop_order' %}",
                data: {No: No},
                datatype: "html",
                success: function (data) {//这里检查data.info的值，如果删除成功就为1，否则为0，2代表没有权限，在这里做一样的判断
                    //console.log(data);
                    if(data.if_success===1){
                        toastr.success('删除成功');
                        $('#tablecase').bootstrapTable("refresh");
                    }else if(data.if_success===0){
                        toastr.error(data.info);
                    }else{}
                },
                error: function(){
                    toastr.error("网络错误，请稍后再试");
                },
            });
        });
    });

    $body.on('click', '.delete_change_date_button', function(){
        var No = $(this).data('no');
        myInputDate("修改下单日期","是否确定修改订单的创建时间： "+No+"？<br>注：<br>此操作将修改订单的创建日期并重新对订单进行编号<strong>无法撤回</strong>",$(this).data('create_time'),function(){
            $.ajax({
                type: "POST",
                url: "{% url 'ope_edit_order_create_time' %}",
                data: {No: No, time: $("#modal_input").val()},
                datatype: "html",
                success: function (data) {//这里检查data.info的值，如果删除成功就为1，否则为0，2代表没有权限，在这里做一样的判断
                    //console.log(data);
                    if(data.if_success===1){
                        toastr.success('修改成功');
                        $('#tablecase').bootstrapTable("refresh");
                    }else if(data.if_success===0){
                        toastr.error(data.info);
                    }else{}
                },
                error: function(){
                    toastr.error("网络错误，请稍后再试");
                },
            });
        });
    });

    $body.on('click', '.trigger_close_order_button', function(){
        var No = $(this).data('no');
        var if_close = $(this).data('if_close');
        var info = "";
        if (if_close==="1")
            info = "是否取消订单 "+No+" 的关账操作";
        else
            info = "是否对订单 "+No+" 进行关账操作，关闭后将无法对此订单进行任何修改";

        myConfirm(info,function(){
            $.ajax({
                type: "POST",
                url: "{% url 'ope_trigger_close_order' %}",
                data: {No: No},
                datatype: "html",
                success: function (data) {
                    //console.log(data);
                    if(data.if_success===1){
                        toastr.success(data.info);
                        $('#tablecase').bootstrapTable("refresh");
                    }else if(data.if_success===0){
                        toastr.error(data.info);
                    }else{}
                },
                error: function(){
                    toastr.error("网络错误，请稍后再试");
                },
            });
        });
    });


</script>
{% endblock %}