{% extends 'order/base.html' %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title" style="display: inline-block;" id="title_info">Price Management</h4>
                        <p class="category" id="note">订单应收账款与应付账款</p>
                    </div>
                    <div class="card-content">

                        <h2 class="title" >应收账款</h2>

                        <table id="table_receiveables" style=" table-layout: fixed;"></table>

                        <h2 class="title" >应付账款</h2>
                        <div id="table_payables_toolbar" class="btn-group">
                            <button id="btn_payables_add" type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                            </button>
                        </div>
                        <table id="table_payables" style=" table-layout: fixed;"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table id="tablecase"></table>

{% endblock %}

{% block jscode %}
<script>


$(function(){
    $("#table_receiveables").bootstrapTable({
        columns: [{
            field: 'description',
            title: '描述',
            align: 'center',
        }, {
            field: 'receiveables',
            title: '价格',
            align: 'center',

        }, {
            field: 'operation',
            title: '操作',
            align: 'center',

        }],
        data: [{
            description: "<input id='rec_desc_input' style='width: 80%'></input>",
            receiveables: "<input id='rec_price_input' style='width: 80%'></input>",
            operation: "<a href='#' id='rec_add_btn'><span class='glyphicon glyphicon-plus-sign'></span>新增</a>"
        }],
        onPostBody: function(){
            //写添加操作的表头
            $("#rec_add_btn").click(function(){
                var desc = $("#rec_desc_input").val();
                var price =$("#rec_price_input").val();
                if(desc==""){
                    toastr.error("描述不能为空");
                    return;
                }
                if(price=="" || isNaN(price)){
                    toastr.error("价格输入错误");
                    return;
                }

                $.ajax({
                    type: "POST",
                    url: "{% url 'add_receiveables' %}",
                    data: {order_id:"{{ order_id }}", description: desc, price:price},
                    datatype: "html",
                    success: function (data) {
                        if(data.if_success == 1){
                            toastr.success(data.info);
                            load_rece_data();
                        }
                        else
                            toastr.error(data.info);
                    },
                })
            });
        }
    });
//$("#table_receiveables").bootstrapTable('remove', {field: 'mark', values: 1});
    //加载数据到table里面
    load_rece_data();
    function load_rece_data(){
        $.ajax({
            type: "POST",
            url: "{% url 'get_receiveables' %}",
            data: {order_id:"{{ order_id }}"},
            datatype: "html",
            success: function (data) {
                $("#table_receiveables").bootstrapTable('remove', {field: 'mark', values: [1]});
                if(data.rows!=undefined){
                    for(var i = 0; i<data.rows.length; i++){
                        $("#table_receiveables").bootstrapTable("append", [{
                            id: data.rows[i].id,
                            description:  "<span>"+data.rows[i].description+"</span>",
                            receiveables: "<span>"+data.rows[i].receiveables+"</span>",
                            mark: 1,    //清空的時候清空這個字段爲1的，代表後來加入的數據
                            operation: "<a href='#' class='rec_edit_btn' data-id='"+data.rows[i].id+"'>" +
                                       "<span class='glyphicon glyphicon-pencil'></span>编辑</a>" +
                                       "<a href='#' class='rec_edit_price_btn' data-id='"+data.rows[i].id+"'>" +
                                       "<span class='glyphicon glyphicon-usd'></span>改价</a>" +
                                       "<a href='#' class='rec_delete_btn' data-id='"+data.rows[i].id+"'>" +
                                       "<span class='glyphicon glyphicon-trash'></span>删除</a>"
                        }]);
                    }
                }
            },
        })
    }

    //改应收账款描述部分代码， 包括以下三个函数
    $('body').on('click', '.rec_edit_btn', function(){
        var id = $(this).data("id");
        $(this).parent().prev().prev().children().editable();
        $(this).parent().html(
            "<a href='#' class='rec_edit_confirm_btn' data-id='"+id+"'><span class='glyphicon glyphicon-ok'></span></a> "+
            "<a href='#' class='rec_edit_cancel_btn' data-id='"+id+"'><span class='glyphicon glyphicon-remove'></span></a>");
    })

    $('body').on('click', '.rec_edit_confirm_btn', function(){
        var id = $(this).data("id");
        var new_desc = $(this).parent().prev().prev().children().editable('getValue', true);
        var $this = $(this);
        if(new_desc == ""){
            toastr.error("描述内容不能为空");
            return;
        }
        $.ajax({
            type: "POST",
            url: "{% url 'update_receiveables_desc' %}",
            data: {rec_id: id, desc: new_desc},
            datatype: "html",
            success: function (data) {
                toastr.success(data.info);
            },
            error: function(){
                toastr.error("修改失败:网络错误");
            },
            complete: function(){
                $this.parent().prev().prev().children().editable("destroy");
                $this.parent().html("<a href='#' class='rec_edit_btn' data-id='"+id+"'>" +
                                    "<span class='glyphicon glyphicon-pencil'></span>编辑</a>" +
                                    "<a href='#' class='rec_edit_price_btn' data-id='"+id+"'>" +
                                    "<span class='glyphicon glyphicon-usd'></span>改价</a>" +
                                    "<a href='#' class='rec_delete_btn' data-id='"+id+"'>" +
                                    "<span class='glyphicon glyphicon-trash'></span>删除</a>");
            },
        })
    })

    $('body').on('click', '.rec_edit_cancel_btn', function(){
        var id = $(this).data("id");
        $(this).parent().prev().prev().children().editable("destroy");
        $(this).parent().html("<a href='#' class='rec_edit_btn' data-id='"+id+"'>" +
                              "<span class='glyphicon glyphicon-pencil'></span>编辑</a>" +
                              "<a href='#' class='rec_edit_price_btn' data-id='"+id+"'>" +
                              "<span class='glyphicon glyphicon-usd'></span>改价</a>" +
                              "<a href='#' class='rec_delete_btn' data-id='"+id+"'>" +
                              "<span class='glyphicon glyphicon-trash'></span>删除</a>");
    })


    //改应收账款价格部分代码， 包括以下三个函数
    $('body').on('click', '.rec_edit_price_btn', function(){
        var id = $(this).data("id");
        $(this).parent().prev().children().editable();
        $(this).parent().html(
            "<a href='#' class='rec_edit_price_confirm_btn' data-id='"+id+"'><span class='glyphicon glyphicon-ok'></span></a> "+
            "<a href='#' class='rec_edit_price_cancel_btn' data-id='"+id+"'><span class='glyphicon glyphicon-remove'></span></a>");
    })

    $('body').on('click', '.rec_edit_price_confirm_btn', function(){
        var id = $(this).data("id");
        var new_price = $(this).parent().prev().children().editable('getValue', true);
        var $this = $(this);
        if (new_price == "" ||  isNaN(new_price)){
            toastr.error("价格输入错误");
            return;
        }
        $.ajax({
            type: "POST",
            url: "{% url 'update_receiveables_price' %}",
            data: {rec_id: id, price: new_price},
            datatype: "html",
            success: function (data) {
                toastr.success(data.info);
            },
            error: function(){
                toastr.error("修改失败:网络错误");
            },
            complete: function(){
                $this.parent().prev().children().editable("destroy");
                $this.parent().html("<a href='#' class='rec_edit_btn' data-id='"+id+"'>" +
                                    "<span class='glyphicon glyphicon-pencil'></span>编辑</a>" +
                                    "<a href='#' class='rec_edit_price_btn' data-id='"+id+"'>" +
                                    "<span class='glyphicon glyphicon-usd'></span>改价</a>" +
                                    "<a href='#' class='rec_delete_btn' data-id='"+id+"'>" +
                                    "<span class='glyphicon glyphicon-trash'></span>删除</a>");
            },
        })
    })

    $('body').on('click', '.rec_edit_price_cancel_btn', function(){
        var id = $(this).data("id");
        $(this).parent().prev().children().editable("destroy");
        $(this).parent().html("<a href='#' class='rec_edit_btn' data-id='"+id+"'>" +
                              "<span class='glyphicon glyphicon-pencil'></span>编辑</a>" +
                              "<a href='#' class='rec_edit_price_btn' data-id='"+id+"'>" +
                              "<span class='glyphicon glyphicon-usd'></span>改价</a>" +
                              "<a href='#' class='rec_delete_btn' data-id='"+id+"'>" +
                              "<span class='glyphicon glyphicon-trash'></span>删除</a>");
    })

    //改应收账款删除操作部分代码， 包括以下一个函数
    $('body').on('click', '.rec_delete_btn', function(){
        var id = $(this).data("id");
        myConfirm("确定删除？",function(){
            $.ajax({
                type: "POST",
                url: "{% url 'delete_receiveables' %}",
                data: {rec_id: id},
                datatype: "html",
                success: function (data) {
                    toastr.success(data.info);
                    $("#table_receiveables").bootstrapTable('remove', {field: 'id', values: [id]});
                },
                error: function(){
                    toastr.error("修改失败:网络错误");
                },

            })
        });

    })

})
</script>
{% endblock %}